/* Global */

:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

/* Principal */

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: var(--background);
}

body #container {
  text-align: center;
}

body #logo {
  margin: auto;
  width: 62.93px;
  height: 87.24px;
}

body h1 {
  color: var(--title);
  font-size: 40px;
  font-weight: bold;
}

body #button {
  background-color: var(--bg-button);
  display: inline-block;

  margin: 30px 0 26px 0;
  border-radius: 5px;
}

body a div {
  display: flex;
  align-items: center;
}

body a img {
  margin: 11px 17px 11px 14px;
  width: 35.56px;
  height: 25.29px;
}

body a p {
  margin: 14px 17px 16px 0;
  color: #000;
  font-size: 12px;
}

body p {
  color: var(--title);
  font-size: 14px;
}

/* Conteúdo dinâmico */

.films_img {
  max-width: 628px;
  height: 400px;
  display: flex;
  overflow: auto;
  text-overflow: clip;
}

.films_img h1 {
  text-align: left;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.films_img img {
  max-width: 250px;
}

.films_title_contents p {
  text-align: left;
  padding-left: 10px;
}
